
.buttonload {
    background-color: #04AA6D; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
}
.fac .fa {
margin-left: -12px;
margin-right: 8px;

}
.loading-in-button {
display : none;
}
.text-in-button {
display : block;
}